# --- Privacy & Sensitive Data ---
emaildefaults
emailidentities
github-copilot/
libaccounts-glib/
kalarmrc

# --- Heavy App Data & Caches ---
# These are usually bulky and don't contain manual configs
akonadi/
blender/
GIMP/
inkscape/
libreoffice/
vlc/
pulse/
session/
dconf/

# --- Development & Temp Files ---
.git/
Code/
*.tmp
*.log
.netrwhist

# --- App Specific States ---
quodlibet/
simple-scan/
xarchiver/
xfburn/
pavucontrol.ini
user-dirs.locale


# XFCE Desktop icon coordinates and hardware tracking
xfce4/desktop/icons.screen0.yaml

# Qalculate history and timestamps
qalculate/

# XFCE volatile state files (history, UI column sizes, specific wallpaper paths)
xfce4/xfconf/xfce-perchannel-xml/parole.xml
xfce4/xfconf/xfce-perchannel-xml/thunar.xml
xfce4/xfconf/xfce-perchannel-xml/xfce4-desktop.xml
xfce4/xfconf/xfce-perchannel-xml/xfce4-notifyd.xml
xfce4/xfconf/xfce-perchannel-xml/xfce4-panel.xml

# Android SDK Caches
.android/cache/

# Local CLI/Node configs & user settings
create-next-app-nodejs/config.json
eas-cli-nodejs/user-settings.json
nextjs-nodejs/config.json
